* {
    font-family: "Kanit", sans-serif;
}
h3 {
    font-weight: bold;
}

.card {
    position: relative;
    background-color: lightgray;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
}

.card h4 {
    font-weight: bold;
    color: black;
    text-align: center;
}

.card p {
    margin: auto 40px 15px 40px;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
